@using SqlDataProvider.Data;
@model List<AreaConfigInfo>
@{
    ViewBag.Title = "排名奖励管理系统";
    ViewBag.Message = "简单粗暴的设置发放的奖励.";    
}
<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-server"></i>@ViewBag.Title<br>
            <small>@ViewBag.Message</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>首页</li>
    <li><a href="javascript:void(0)">@ViewBag.Title</a></li>
</ul>
<!-- END Header -->

<div class="block">
    <!-- Main Row -->
    <div class="row">
        <div class="col-lg-4">
            <!-- Edit Award Block -->
            <div class="block">
                <!-- Edit Award Title -->
                <div class="block-title clearfix">                    
                    <div class="block-options">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="@Html.Raw(Url.Action("CreateTop","Award"))" class="btn btn-alt btn-sm btn-default" data-dialog="addtop" 
                                   data-toggle="tooltip" title="新建"><i class="gi gi-circle_plus text-primary"></i> 新建
                                </a>
                            </div>
                            <div class="col-md-8">
                                <select id="server-chosen" name="server-chosen" class="select-chosen" data-placeholder="选择当前服务器..." style="width: 250px;">
                                    <option></option>
                                    @foreach (AreaConfigInfo item in Model)
                                    {
                                        <option value="@item.AreaID">@item.AreaName</option>
                                    }
                                </select>
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- END Edit Award Title -->
                <!-- Edit Award Content -->
                <div id="top-content">
                    <div class="text-center text-warning">
                        <p>@Html.Raw(StaticFunction.GetTranslation("Views.WaitLoading"))</p>
                    </div>
                </div>
                <!-- END Edit Award Content -->
            </div>
            <!-- END Edit Award Block -->
        </div>
        <div class="col-lg-8">
            <!-- TopAward Block -->
            <div class="block">
                <!-- TopAward Title -->
                <div class="block-title clearfix">
                    <div class="block-options">
                        查看奖励 <i class="gi gi-chevron-right" style="font-size:8px"></i> <span id="award-header" class="text-success">未选择..</span>
                        <a href="@Html.Raw(Url.Action("AddItemsModel","Games", new { type = "topaward" }))" class="btn btn-alt btn-sm btn-default pull-right" 
                        data-dialog="-1" id="btn-add-top-award" style="margin-top:4px"><i class="fa fa-pencil text-success"></i> 添加奖励
                        </a>
                    </div>
                </div>
                <!-- END TopAward Title -->
                <!-- TopAward Content -->
                <div id="award-content">
                    <div class="text-center text-warning">
                        <p>@Html.Raw(StaticFunction.GetTranslation("Views.WaitLoading"))</p>
                    </div>
                </div>
                <!-- END TopAward Content -->
            </div>
            <!-- END TopAward Block -->
        </div>
    </div>
    <!-- END Main Row -->
</div>
<input type="hidden" value="all" id="default-category" />
@section Scripts{
<script>

    $(function () {

        /*window resize*/
        $(window).resize(function () {
            fixHeight();
        });

        /*auto load top*/
        loadTop();

        /*select server*/
        $("#server-chosen").change(function (e) {
            var zoneID = $(this).val();
            loadTop(zoneID);
        });

        /*call add dailog*/
        $('#btn-add-top-award').bind('click', function (e) {
            var _id = $(this).attr("data-dialog");
            var url = $(this).attr("href") + '&name=' + $("#award-header").text();
            GMApp.Dialog(url, e, 'tid=' + _id, 'large');
            return false;
        });

        $('a[data-dialog="addtop"]').bind('click', function (e) {            
            var url = $(this).attr("href");
            GMApp.Dialog(url, e);
            return false;
        });
    });

    function loadTop(zoneId, loadurl) {        
        var defaultUrl = '@Url.Action("LoadTop", "Award")';
        var defaultZone = '?zid=-1';
        if (zoneId != undefined && zoneId != null) {
            defaultZone = '?zid=' + zoneId;
        }
        if (loadurl != undefined && loadurl != null) {
            defaultUrl = loadurle;
        }
        defaultUrl += defaultZone;
        $("#loading-bgr").show();
        $.get(defaultUrl, function (data) {
            $("#top-content").html(data);
            $("#loading-bgr").hide();
            fixHeight();
        })
        .fail(function (data) {
            $("#top-content").html(getError(data.status, data.statusText));
            $("#loading-bgr").hide();
        });
    }
    function fixHeight() {
        $('#award-content').equalHeightTo('#top-content');
        //$('#media-filter-items').equalHeightTo('#media-list');
        //$('#media-filter').equalHeightTo('#media-list');
    }
</script>
}