@using MvcPaging;
@model IPagedList<SqlDataProvider.Data.PlayerInfo>
@{
    Layout = "~/Views/Shared/_RenderLayout.cshtml";
    ViewBag.Title = "LoadData";
    int zoneId = -1;
}
@if (Model.TotalItemCount > 0)
{
    if(ViewData["key"] == null || string.IsNullOrWhiteSpace((string)ViewData["key"]))
    {
        <p class="text-info">共计 <strong class="text-danger">@Model.TotalItemCount</strong> 个玩家帐号</p>
    }
    else
    {
        <p class="text-info">共计 <strong class="text-danger">@Model.TotalItemCount</strong> 个玩家帐号</p>
    }
}
    <!--
            Available Table Classes:
                'table'             - basic table
                'table-bordered'    - table with full borders
                'table-borderless'  - table with no borders
                'table-striped'     - striped table
                'table-condensed'   - table with smaller top and bottom cell padding
                'table-hover'       - rows highlighted on mouse hover
                'table-vcenter'     - middle align content vertically
            -->
    <table id="general-table" class="table table-striped table-vcenter">
        <thead>
            <tr>
                <th style="width: 80px;" class="text-center">
                    <label class="switch switch-primary" data-toggle="tooltip" title="Escolher Todos">
                        <input type="checkbox">
                        <span></span>
                    </label>
                </th>
                <th class="text-center"><i class="gi gi-user"></i></th>
                <th>昵称</th>
                <th>玩家ID</th>
                <th>用户名</th>               
                <th>等级</th>
                <th>战斗力</th> 
                <th>点券</th>
                <th>最后上线时间</th>
                <th>在线状态</th>
                <th style="width: 80px;" class="text-center">操作</th>
            </tr>
        </thead>                  
            @if (Model.Count() > 0)
            {
                <tbody>
                    @foreach (var item in Model)
                    {
                        zoneId = item.ZoneID;
                        <tr>
                            <td class="text-center">
                                <label class="switch switch-primary">
                                    <input type="checkbox" id="@item.ID" name="@item.ID" value="@item.ID">
                                    <span></span>
                                </label>
                            </td>
                            <td class="text-center">
                                @if (item.Sex)
                                {
                                    <i class="fa fa-venus text-success"></i>
                                }
                                else
                                {
                                    <i class="fa fa-mars text-danger"></i>
                                }
                            </td>
                            <td><a href="@Url.Action("Details", "Users", routeValues: new { id = item.ID, zId = zoneId })" data-modal="showDetails"><strong>@Html.THighlight(item.NickName, ViewData["key"])</strong></a></td>
                            <td>@Html.THighlight(item.ID.ToString(), ViewData["key"])</td>
                            <td>@Html.THighlight(item.UserName, ViewData["key"])</td>                            
                            <td class="text-center">@item.Grade</td>
                            <td>@item.FightPower</td>
                            <td>@item.Money</td>
                            <td>@item.LastDate</td>
                            <td>
								@if (item.State > 0)
								{
									<span class="text-success">在线</span>
								}
								else
								{
									<span class="text-danger">离线</span>
								}
							</td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="@Url.Action("Details", "Users", routeValues: new { id = item.ID , zId = zoneId })" data-toggle="showDetails" data-modal="showEdit"
                                       title="编辑" class="btn btn-default"></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="11">
                            <div class="btn-group btn-group-sm">                               
                                <a href="@Url.Action("KickOrForbid", "Users", routeValues: new { id = zoneId})" id="kick-forbid-player" class="btn btn-primary" 
                                   data-toggle="tooltip" style="margin-left:15px" title="选中玩家封号">
                                    <i class="fa fa-lock"></i>
                                </a>
                            </div>
                            <div class="text-center" style="margin-top:-35px">
                                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "table-content", LoadingElementId = "loading-bgr" }).Options(o => o
                                .DisplayTemplate("_Pagination")
                                .Action("LoadData")
                                .AddRouteValue("key", ViewData["key"])
                                .AddRouteValue("table", ViewData["table"])
                                .AddRouteValue("id", zoneId)
                                .MaxNrOfPages(3))
                            </div>
                        </td>
                    </tr>
                </tfoot>
            }
            else
            {
                <tbody>
                    <tr>
                        <td colspan="11" class="text-center insert-avatar" id="insert-avatar">
                            @Html.Raw(StaticFunction.GetTranslation("Views.Empty"))
                        </td>
                    </tr>
                </tbody>
            }          
    </table>
@section Scripts{
    <script>
        //call bacth kick forbid player
        $("#kick-forbid-player").on("click", function (e) {
            var searchIds = $("tbody input:checkbox:checked").map(function () {
                return this.value;
            }).toArray();
            $("#loading-bgr").show();

            $.ajax({
                type: "GET",
                url: this.href,
                data: "userIds=" + searchIds,
                success: function (response) {
                    $('#modal-content').html(response);
                    $('#modal').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');
                    $("#loading-bgr").hide();
                }
            });
            return false;
        });

        /* Initialize app when page loads */
        $(function () {
            ModelGeneral.init('data-modal="showDetails"', 'large');
            ModelGeneral.init('data-modal="showEdit"');
            ModelGeneral.init('data-modal="showDelete"');
            if ($('.insert-avatar').length > 0) {
                GMApp.GetJson('#insert-avatar', '@Url.Action("Avatar","Users")');
            }
        });
    </script>
}
